### Enumerate

In [3]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
alpha_list = list(alphabet)
#alpha_list

In [4]:
for char in alpha_list:
    print(char)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [6]:
for i in range(len(alpha_list)):
    print(i,alpha_list[i])

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 j
10 k
11 l
12 m
13 n
14 o
15 p
16 q
17 r
18 s
19 t
20 u
21 v
22 w
23 x
24 y
25 z

In [7]:
for count, item in enumerate(alpha_list):
    print(count,item)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 j
10 k
11 l
12 m
13 n
14 o
15 p
16 q
17 r
18 s
19 t
20 u
21 v
22 w
23 x
24 y
25 z

In [8]:
for count, item in enumerate(alpha_list, start = 12):
    print(count,item)

12 a
13 b
14 c
15 d
16 e
17 f
18 g
19 h
20 i
21 j
22 k
23 l
24 m
25 n
26 o
27 p
28 q
29 r
30 s
31 t
32 u
33 v
34 w
35 x
36 y
37 z

In [9]:
A = [1,1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9]
B = [6,6,7,7,8,8,9,9,10,10,11,11,12,12,13,13,14,14]

In [10]:
A = set(A)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
B = set(B)
B

{6, 7, 8, 9, 10, 11, 12, 13, 14}

In [12]:
A & B # Intersection

{6, 7, 8, 9}

In [13]:
A | B # Union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [14]:
A - B # Difference

{1, 2, 3, 4, 5}

In [15]:
A ^ B # Symmetric Difference

{1, 2, 3, 4, 5, 10, 11, 12, 13, 14}

In [18]:
z = None